<html>
<head>
<title></title>
<link rel="stylesheet" href="css.css" type="text/css" media="screen" />
</head>
<body>
<center>
<div class='maincontainer'>
	<div class='banner'>
		<div class='company'>
		Our Code Igniter
		</div>
		<div class='slogan'>
		This My First Code Igniter
		</div>
	</div>
	<div class='menu'>
	<ul id='topmenu'>
	
			<li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Guestbook</a></li>
            <li><a href="#">View</a></li>
            <li><a href="#">Upload</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Lib</a></li>
			<li><a href="#">Login</a></li>
     
		</ul>
	</div>


	<div class='botmenu'>
	</div>

	<div class='contentwrapper'>
		<div class='contentcolumn'>
		<!-- CONTENT-->
		</div>

		<div class='leftcolumn'>
		<br><br>

		<img src='img/img1.png'>

		</div>

		

	</div>

</div>

<div class="clear"></div>
<div id="footer">
    <ul id="footernav">
        <li><a href="">PROFILE </a></li>
	<li><a href="">WORKOUTS </a></li>
	<li><a href="">VIDEOS </a></li>
	<li><a href="">RACES </a></li>
	<li><a href="">ARTICLES </a></li>
	<li><a href="">CONTACT</a></li>
    </ul>
<p>
Copyright &copy; 2011 Strenua. All Rights Reserved. Site by 27th Island.
</p>
</div>
</center>
</body>
</html>


